<!-- app.component.html  -->

<div style="text-align:center">
    <h1>
        Welcome to G17!
    </h1>
    <nav>
        <a routerLink="transactionHistory">View your transaction history here</a><br />
        <a routerLink="currentPrice">Current price of TKK</a><br />
        <a routerLink="priceHistory">TKK Price History</a><br />
    </nav>
    <router-outlet></router-outlet>
</div>


<!-- Without routing you can comment above and uncomment here -->
<!-- <app-transaction-history></app-transaction-history>
<app-current-pricing></app-current-pricing>
<app-price-history></app-price-history> -->