<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr *ngIf="priceHistory.length > 0">
                    <th style="text-align:center">Asset Symbol</th>
                    <th style="text-align:center">Asset Price</th>
                    <th style="text-align:center">timestamp</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let history of priceHistory">
                    <td style="text-align:center">{{history.assetSymbol}}</td>
                    <td style="text-align:center">{{history.price}}</td>
                    <td style="text-align:center">{{history.timestamp | date:'medium'}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>